.invoice {
  width: 100%;
  height: 100%;
  margin-top: 56px;
}

.invoice-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 48px;
  padding: 0 56px;
  justify-content: center;
}

.form-invoice {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 48px;
  margin-bottom: 150px;
}

.formHeader {
  color: var(--button-purple);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.bill-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  width: 100%;
}

.input-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.label-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-info p {
  color: #ec5757;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.label-red {
  color: #ec5757;
}

.billDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
.date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 1rem;
}

.date input,
.date select,
.itemsValueLabel input {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--inputColor);
  background: var(--inputBackground);
  border: 1px solid var(--inputBorder);
  outline: none;
  border-radius: 4px;
  padding: 17px 20px;
}

input::placeholder {
  color: var(--fontColor);
}

.date input:focus,
.date select:focus,
.billDetails input {
  border: 1px solid var(--button-purple);
}

.billDetails input {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--inputColor);
  background: var(--inputBackground);
  border: 1px solid var(--inputBorder);
  outline: none;
  border-radius: 4px;
  padding: 17px 20px;
  max-width: 152px;
}

.input {
  border: 1px solid var(--button-purple) !important;
}

.input-red {
  border: 1px solid #ec5757 !important;
}

.billItems input {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--inputColor);
  background: var(--inputBackground);
  border: 1px solid var(--inputBorder);
  outline: none;
  border-radius: 4px;
  padding: 17px 20px;
  width: 100%;
}

.billEvents p {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.375px;
  color: #777f98;
}

.dateIcon {
  position: absolute;
  font-size: 12px !important;
  top: 40%;
  right: 10%;
  color: var(--button-purple);
}

.dateIcon-white {
  color: white;
}

.itemsValueLabel {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-gap: 1rem;
}

.label2 {
  display: grid;
  grid-template-columns: 0.9fr 1.5fr 1fr 0.5fr;
  grid-gap: 1rem;
}

.labels p,
.label p {
  color: var(--invoiceItemParagraph);
  font-weight: 500;
  font-size: 12px;
}
.label input {
  width: 100%;
  padding: 17px 10px;
  margin-bottom: 1rem;
}

.dustbin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  margin-bottom: 50%;
}

.label h4 {
  margin-top: 25%;
}

.dakFont {
  color: #888eb0 !important;
  cursor: pointer;
  transition: var(--transition) !important;
}
.dakFont:hover {
  transition: var(--transition) !important;
  color: #ec5757 !important;
}

.btn-add {
  background-color: var(--scrollColor) !important;
  color: var(--invoiceItemParagraph);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.billEvents {
  grid-row-gap: 5px;
}

.madAdd {
  color: var(--invoiceItemParagraph);
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.errors {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.errors p {
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.2083333283662796px;
  color: #ec5757;
}

@media screen and (max-width: 600px) {
  .invoice-container {
    padding: 0 24px !important;
  }
  .billDetails {
    grid-template-columns: repeat(2, 1fr);
  }
  .billDetails input {
    max-width: 100%;
    width: 100%;
  }
  .form-invoice {
    margin-bottom: 220px;
  }
  .date {
    grid-template-columns: 1fr;
  }
  .itemsValueLabel {
    grid-template-columns: 1fr;
  }
  .label2 {
    grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
  }
  .label h4 {
    margin-top: 20%;
  }
  .dustbin {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .dustbin {
    margin-top: 30px;
  }
  .label h4 {
    margin-top: 20px;
  }
}
