@import "./components/Header/Header.css";
@import "./components/Invoice/Invoice.css";
@import "./components/SideBar/Sidebar.css";
@import "./components/New_Invoice/New_Invoice.css";
@import "./components/Invoice/Invoice.css";
@import "./components/InvoiceDetail/InvoiceDetail.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.default {
  --button-purple: #7c5dfa;
  --button-hover: #9277ff;
  --buttonBlack: #373b53;
  --buttonBlackHover: #0c0e16;
  --buttonRed: #ec5757;
  --buttonRedHover: #ff9797;
  --borderRadius: 24px;
  --transition: all 0.3s ease-in-out;
  background: var(--background);
  color: var(--fontColorOpacity);
}

/* as a light theme, 
am expecting the background to be white while other fonts are black.
*/
.light {
  --background: #f2f2f2;
  --fontColorOpacity: #0c0e16;
  --fontColor: #7e88c3;
  --gridBackground: #ffffff;
  --sideBar: #373b53;
  --lightGray: #f9fafe;
  --lightGrayHover: #dfe3fa;
  --buttonDefault: #f9fafe;
  --buttonDefaultHover: #dfe3fa;
  --amountDueBackground: #373b53;
  --invoice: #ffffff;
  --inputColor: #0c0e16;
  --inputBackground: #fff;
  --inputBorder: #dfe3fa;
  --scrollColor: #dfe3fa;
  --draft: #373b53;
  --invoiceItemParagraph: #7e88c3;
  --amountTotal: #373b53;
}

.dark {
  --background: #141625;
  --fontColorOpacity: #fff;
  --fontColor: #dfe3fa;
  --gridBackground: #1e2139;
  --sideBar: #1e2139;
  --lightGray: #252945;
  --lightGrayHover: #fff;
  --buttonDefault: #252945;
  --buttonDefaultHover: #ffffff;
  --amountDueBackground: #0c0e16;
  --invoice: #141625;
  --inputColor: #ffffff;
  --inputBackground: #1e2139;
  --inputBorder: #1e2139;
  --scrollColor: #252945;
  --draft: #dfe3fa;
  --invoiceItemParagraph: #dfe3fa;
  --amountTotal: #0c0e16;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.625px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

p,
label {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: var(--fontColor);
}

.btn {
  border-radius: var(--borderRadius);
  overflow: hidden;
  border: none;
  outline: none;
  padding: 17px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  cursor: pointer;
  transition: var(--transition);
  background-color: transparent;
}

.btn-white {
  background: var(--buttonDefault);
  cursor: pointer;
  transition: var(--transition);
}

.btn-white:hover {
  background: var(--buttonDefaultHover);
  transition: var(--transition);
}

.btn-purple {
  background-color: var(--button-purple);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}

.btn-purple:hover {
  background-color: var(--button-hover);
  cursor: pointer;
  transition: var(--transition);
}

.btn-red {
  background-color: var(--buttonRed);
  cursor: pointer;
  color: #fff;
  transition: var(--transition);
}

.btn-black {
  background-color: var(--lightGray) !important ;
  cursor: pointer;
  transition: var(--transition);
  color: var(--fontColor) !important;
}

.btn-black:hover {
  color: #7e88c3 !important;
  background-color: var(--lightGrayHover) !important;
}

.btn-red:hover {
  background-color: var(--buttonRedHover);
}

.singleback button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--fontColorOpacity);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.info-wrapper {
  width: 100%;
  position: fixed;
  background-color: var(--background);
  overflow-y: auto !important;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 103px;
}

.hide-info-wrapper {
  overflow: hidden !important;
}

.info-wrapper-container {
  width: 100%;
  flex-basis: 95%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  display: none;
  transition: var(--transition);
  z-index: 99;
}

.deleteOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  transition: var(--transition);
  z-index: -1;
  transform: scale(0);
  visibility: hidden;
}

.showdeleteOverlay {
  visibility: visible;
  transform: scale(1);
  transition: var(--transition);
  z-index: 999;
}

.overlay-show {
  display: block;
  visibility: visible;
  transition: var(--transition);
}
.modalDelete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  width: 100%;
  visibility: hidden;
  transition: var(--transition);
}

.modalWrapper {
  padding: 48px;
  background: var(--inputBackground);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  display: grid;
  grid-row-gap: 1rem;
  border-radius: 8px;
}

.showModalDelete {
  visibility: visible;
  z-index: 99999999;
  transition: var(--transition);
  margin: 0;
}
.btnCon {
  display: flex;
  justify-content: flex-end;
}

.btnCon-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}

.btnCon-wrapper .btn-black {
  background-color: var(--lightGray) !important;
  color: var(--fontColor) !important;
}

.invoice-wrapper {
  height: 100vh;
  width: 100%;
  max-width: 616px;
  background-color: var(--invoice);
  position: absolute;
  z-index: 999;
  left: -100%;
  top: 0;
  visibility: hidden;
  transition: var(--transition);
  border-radius: 0px 20px 20px 0px;
  overflow-y: auto !important;
}

.invoice-wrapper-show {
  left: 103px;
  visibility: visible;
  transition: var(--transition);
}
.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 616px;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 56px;
}

.fixedEdit {
  justify-content: flex-end;
}

.single-btn {
  background: #f9fafe;
  color: #7e88c3;
}

.btn-ash {
  background: #373b53;
  color: #888eb0;
}

.btn-ash:hover {
  background: #0c0e16;
  color: #dfe3fa;
}

.btn-contain button:nth-child(2) {
  margin-left: 8px;
}

.invoice-info-container,
.invoice-info-container-detail {
  width: 100%;
}

.invoice-info-container {
  position: fixed;
  width: 100%;
  max-width: 700px;
  height: 100%;
  top: 0;
  bottom: 5%;
}
.invoiceListWrapper {
  margin-top: 150px;
  margin-bottom: 20px;
  overflow-y: auto !important;
  max-height: 80%;
  z-index: 9;
}

.headerCon {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  z-index: 999;
}

.invoice-info-container {
  height: 100%;
  transform: translateX(0);
  transition: 1s ease-in-out;
  visibility: visible;
}

.hide-invoice-info-container {
  visibility: hidden;
  height: 0;
  transform: translateX(-1000%);
  transition: 1s ease-in-out;
}

.invoice-info-container-detail {
  height: 0;
  visibility: hidden;
  transform: translateX(1000%);
  transition: 1s ease-in-out;
}

.show-invoice-detail {
  height: 100%;
  visibility: visible;
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.invoice-changer {
  width: 100%;
  max-width: 730px;
  margin: 72px auto;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollColor);
  border-radius: 4px;
}

@media screen and (max-width: 850px) {
  .invoice-info-container {
    max-width: 616px;
    width: 100%;
    left: 55%;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 768px) {
  .main-app-container {
    flex-direction: column;
  }
  .invoice-changer {
    padding: 0 48px;
    width: auto;
  }
  .invoice-wrapper {
    max-width: 616px;
    top: auto;
  }
  .info-wrapper-container {
    flex-basis: 100%;
    width: 100%;
  }
  .invoice-wrapper-show {
    left: 0;
  }
  .info-wrapper {
    top: 10%;
    padding-left: 0 !important;
  }
  .headerCon {
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    padding: 0 20px;
  }
  .invoice-info-container {
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    top: 10%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .modalWrapper {
    margin: 0 15px;
  }
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .invoice-changer {
    padding: 0 15px;
    margin: 50px auto;
  }

  h1 {
    font-size: 20px;
    letter-spacing: -0.625px;
  }
  .overlay-show {
    display: none;
  }
  .invoice-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .fixed {
    max-width: 100%;
    padding: 0 24px;
    height: 91px;
    border-radius: 0 0 0 0;
  }

  .invoice-wrapper-show {
    left: 0 !important;
    width: 100%;
  }
  .invoiceListWrapper {
    margin-top: 100px;
    max-height: 100%;
  }
  .headerCon {
    height: 100px;
  }
}

@media screen and (max-width: 450px) {
  .btn-ash,
  .btn-purple,
  .single-btn {
    padding: 15px 10px;
  }
}
